{% extends 'partials/base.html' %}
{% load currency_filters %}
{% load static %}

{% block content %}

<main class="main-content">
    <div class="container my-5">
        <h1 class="text-center mb-4">Invoices</h1>
        <div class="row">
            {% if invoices %}
                {% for invoice in invoices %}
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Invoice #{{ invoice.id }}</h5>
                                <p class="card-text"><strong>Date:</strong> {{ invoice.Date }}</p>
                                {%if courses%}
                                {% for course in courses %}
                                {%if course.id == invoice.Course_id%}
                                <p class="card-text"><strong>Amount:</strong> ${{ course.Price|cents_to_dollars|floatformat:2 }}</p>
                                {%endif%}
                                {%endfor%}
                                {%endif%}
                                <a href="{% url 'invoiceDetail' invoice.id %}" class="btn btn-primary">View Details</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p class="text-center">You have no invoices.</p>
            {% endif %}
        </div>
    </div>
</main>

{%endblock%}